VITE_YOUTUBE_AUDIO_SERVICE_URL=http://localhost:8003
VITE_AUDIO_TEXT_SERVICE_URL=http://localhost:8002
VITE_RAG_INDEXER_URL=http://localhost:8005
VITE_CHAT_SERVICE_URL=http://localhost:8006
VITE_DB_SERVICE_URL=http://localhost:8001
VITE_DEFAULT_COLLECTION=batem-palma
