VITE_YOUTUBE_AUDIO_SERVICE_URL=https://bold-quokka-api.mitrisoft.ro/youtube
VITE_AUDIO_TEXT_SERVICE_URL=https://bold-quokka-api.mitrisoft.ro/audio
VITE_RAG_INDEXER_URL=https://bold-quokka-api.mitrisoft.ro/rag
VITE_CHAT_SERVICE_URL=https://bold-quokka-api.mitrisoft.ro/chat
VITE_DB_SERVICE_URL=https://bold-quokka-api.mitrisoft.ro/db
VITE_DEFAULT_COLLECTION=batem-palma
